@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using System.Net.ServerSentEvents
@using System.Text.Json
@using UTB.School.Contracts
@implements IAsyncDisposable
@inject IHttpClientFactory ClientFactory

<PageTitle>SseDemo Csharp</PageTitle>

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

<h1>Actual Students</h1>

@if (students is not null)
{
    <table>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach(StudentDto student in students)
            {
                <tr>
                    <th scope="row">@student.Id</th>
                    <th>@student.Name</th>
                    <th>@student.IsActive</th>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private CancellationTokenSource cts = new();
    StudentDto[]? students;
    private string? errorMessage;

    protected override void OnInitialized()
    {
        _ = StartSseAsync(cts.Token);
    }

    private async Task StartSseAsync(CancellationToken ct)
    {
        var client = ClientFactory.CreateClient("webapi");

        try
        {
            using var response = await client.GetAsync("/sse", HttpCompletionOption.ResponseHeadersRead, ct);

            response.EnsureSuccessStatusCode();

            using Stream sseStream = await response.Content.ReadAsStreamAsync(ct);

            SseParser<string> parser = SseParser.Create(sseStream);

            await foreach (SseItem<string> sseEvent in parser.EnumerateAsync(ct))
            {
                students = JsonSerializer.Deserialize<StudentDto[]>(sseEvent.Data, new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });

                await InvokeAsync(StateHasChanged);
            }
        }
        catch (HttpRequestException)
        {
            errorMessage = "API is not available.";

            await InvokeAsync(StateHasChanged);
        }
        catch (OperationCanceledException)
        {
            // Ignorovat při zavření komponenty
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        cts.Cancel();
        cts.Dispose();
    }

}
