@page "/hypoteka"

<PageTitle>Hypotéka</PageTitle>

<h1>Hypoteční kalkulačka</h1>

<div class="mb-3">
    <label class="form-label" for="pujcka">Výše půjčky</label>
    <input class="form-control" type="number" step="200000.0" min="200000.0" id="pujcka" @bind-value="pujcka" @bind-value:after="SpocitejSplatku" />
</div>

<div class="mb-3">
    <label class="form-label" for="urok">Roční úrok v procentech</label>
    <input class="form-control" type="number" step="0.1" min="0.1" id="urok" @bind-value="urokProcenta" @bind-value:after="SpocitejSplatku" />
</div>

<div class="mb-3">
    <label class="form-label" for="pocet">Počet let</label>
    <input class="form-control" type="number" step="5" min="5" id="pocet" @bind-value="pocetLet" @bind-value:after="SpocitejSplatku" />
</div>

<p role="status">Splátka: @splatka.ToString("F1")</p>

<h2>Splátkový kalendář</h2>

<table class="table">
    <thead>
        <tr>
            <th>Měsíc</th>
            <th>Úrok</th>
            <th>Úmor</th>
            <th>Zůstatek</th>
        </tr>
    </thead>

    <tbody>
    @{
        double zustatek = pujcka;

        for(int i = 0; i < n; i++)
        {
            double urok = zustatek * r;
            double umor = splatka - urok;

            zustatek -= umor;

            <tr>
                <td>@(i + 1)</td>
                <td>@urok.ToString("F2")</td>
                <td>@umor.ToString("F2")</td>
                <td>@zustatek.ToString("F1")</td>
            
            </tr>
        }
    }
    </tbody>
</table>

@code {
    private double pujcka = 6000000.0;
    private double urokProcenta = 4.0;
    private int pocetLet = 30;
    private double splatka;
    double r;
    int n;

    protected override void OnInitialized()
    {
        SpocitejSplatku();
    }

    private void SpocitejSplatku()
    {
        r = urokProcenta / 12.0 / 100.0;
        n = pocetLet * 12;

        splatka = pujcka * r * Math.Pow(1 + r, n) / (Math.Pow(1 + r, n) - 1);
    }
}
