@page "/hypoteka"

<PageTitle>Hypotéka</PageTitle>

<h1>Hypoteční kalkulačka</h1>

<div class="mb-3">
    <label class="form-label" for="pujcka">Výše půjčky</label>
    <input class="form-control" type="number" step="200000" min="200000" id="pujcka" @bind-value="pujcka" @bind-value:after="SpocitejSplatku" />
</div>

<div class="mb-3">
    <label class="form-label" for="urok">Úrok v procentech</label>
    <input class="form-control" id="urok" type="number" step="0.2" min="0.2" @bind-value="urokProcenta" @bind-value:after="SpocitejSplatku" />
</div>

<div class="mb-3">
    <label class="form-label" for="pocet">Úrok v procentech</label>
    <input class="form-control" id="pocet" type="number" step="5" min="5" max="40" @bind-value="pocetLet" @bind-value:after="SpocitejSplatku" />
</div>

@* 2. Pridat input pro urokProcenta a pocetLet*@

<p role="status">Splátka: @splatka.ToString("F1")</p>

<h2>Splátkový kalendář</h2>

@* 3. Zobrazit splatkovy kalendar *@

<div class="form-check form-switch">
    <InputCheckbox class="form-check-input" type="checkbox" role="switch" @bind-Value="zobrazitRoky" id="roky" />
    <label class="form-check-label" for="roky">
        Zobrazit po letech
    </label>
</div>

@if(zobrazitRoky)
{
    double dluh = pujcka;

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Rok</th>
                <th>Úrok</th>
                <th>Úmor</th>
                <th>Dluh</th>
            </tr>
        </thead>

        <tbody>
            @* Misto po mesicich, zobrazte sumu uroku a umoru a aktualni stav dluhu po letech *@
            @* Poznamka: muzete pouzit dva vnorene cykly for *@

            @for(int j = 0; j < pocetLet; j++)
            {
                double sumaUroku = 0.0;
                double sumaUmoru = 0.0;

                for (int i = 0; i < 12; i++)
                {
                    double urok = dluh * r;
                    double umor = splatka - urok;

                    dluh -= umor;

                    sumaUroku += urok;
                    sumaUmoru += umor;
                }

                <tr>
                    <td>@(j + 1)</td>
                    <td>@sumaUroku.ToString("F2")</td>
                    <td>@sumaUmoru.ToString("F2")</td>
                    <td>@dluh.ToString("F1")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    double dluh = pujcka;

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Měsíc</th>
                <th>Úrok</th>
                <th>Úmor</th>
                <th>Dluh</th>
            </tr>
        </thead>

        <tbody>
            @* Misto po mesicich, zobrazte sumu uroku a umoru a aktualni stav dluhu po letech *@
            @* Poznamka: muzete pouzit dva vnorene cykly for *@

            @for(int i = 0; i < n; i++)
            {
                double urok = dluh * r;
                double umor = splatka - urok;

                dluh -= umor;

                <tr>
                    <td>@(i + 1)</td>
                    <td>@urok.ToString("F2")</td>
                    <td>@umor.ToString("F2")</td>
                    <td>@dluh.ToString("F1")</td>
                </tr>
            }
        </tbody>
    </table> 
}

@code {
    private double pujcka = 6000000.0;
    private double urokProcenta = 4.0;
    private int pocetLet = 30;
    private double splatka;
    double r;
    int n;
    bool zobrazitRoky = true;

    protected override void OnInitialized()
    {
        SpocitejSplatku();
    }

    private void SpocitejSplatku()
    {
        r = urokProcenta / 12.0 / 100.0;
        n = pocetLet * 12;

        splatka = pujcka * r * Math.Pow(1 + r, n) / (Math.Pow(1 + r, n) - 1);
    }
}
