<div class="d-flex gap-3 mb-3">

    @for (int i = 0; i < Array.Length; i++)
    {
        string textColor = i >= HighlightFrom && i <= HighlightTo
                         ? "text-success"
                         : "text-primary";

        if (i == PrimaryIndex)
        {
            <div class="fs-1 @textColor border-bottom border-primary border-3">@Array[i]</div>
        }
        else if(i == SecondaryIndex)
        {
            <div class="fs-1 @textColor border-bottom border-secondary border-3">@Array[i]</div>
        }
        else
        {
            <div class="fs-1 @textColor">@Array[i]</div>
        }
    }

    @if(IsSorted)
    {
        switch(Rank)
        {
            case 1:
                <div class="fs-1">🥇🏆</div>
                break;
            case 2:
                <div class="fs-1">🥈</div>
                break;
            case 3:
                <div class="fs-1">🥉</div>
                break;
            default:
                <div class="fs-1">Umístění: @Rank.</div>
                break;
        }
    }

</div>

@code {
    [Parameter]
    public int[] Array { get; set; } = [];
    [Parameter]
    public int PrimaryIndex { get; set; }
    [Parameter]
    public int SecondaryIndex { get; set; }
    [Parameter]
    public int HighlightFrom { get; set; }
    [Parameter]
    public int HighlightTo { get; set; }
    [Parameter]
    public bool IsSorted { get; set; }
    [Parameter]
    public int Rank { get; set; }
}
