@page "/books"
@using Microsoft.AspNetCore.Components.Authorization
@using UTB.PublicLibrary.Contracts
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject LibraryService LibraryService

@if (errorMessage is not null)
{
    <div class="alert alert-danger">@errorMessage</div>
}

<h3>Books</h3>

@if(books is null)
{
    <p>Loading ... </p>    
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Archived</th>
            </tr>
        </thead>
        <tbody>

            @foreach(BookDto book in books)
            {
                <tr>
                    <th scope="row">@book.Id</th>
                    <td>@book.Title</td>
                    <td>@(book.IsArchived ? "Yes" : "No")</td>
                </tr>
            }

        </tbody>

    </table>
}

@code {
    private BookDto[]? books; 
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            books = await LibraryService.GetBooksAsync();
        }
        catch (Polly.Timeout.TimeoutRejectedException)
        {
            errorMessage = "Timeout";
        }
    }
}
