@page "/template"

<PageTitle>Lomuto Partitioning</PageTitle>

<div class="d-flex gap-3 mb-3">
    @for (int i = 0; i < pole.Length; i++)
    {
        string textColor = (i >= low && i <= high) ? "text-primary" : "text-secondary";

        if (i == this.i)
        {
            <div class="fs-1 @textColor border-bottom border-primary border-3">@pole[i]</div>
        }
        else if (i == this.j)
        {
            <div class="fs-1 @textColor border-bottom border-secondary border-3">@pole[i]</div>
        }
        else
        {
            <div class="fs-1 @textColor">@pole[i]</div>
        }
    }
</div>

<div class="fs-1 mb-3">pivot @pivot</div>

<button class="btn btn-primary" @onclick="DalsiIterace">Next Iteration</button>

@code {
  
    int low;
    int high;
    int pivot;
    int j;
    int i;

    private int[] pole = ReservoarSampling.Generate(9, 9);

    protected override void OnInitialized()
    {
        Inicializace();
    }

    void Inicializace()
    {
        low = 0;
        high = pole.Length - 1;
        pivot = pole[high];
        i = 0;
        j = 0;
    }

    void DalsiIterace()
    {
        if (j < high)
        {
           
            // 💻

            ++j;
        }
        else
        {
            // 💻

            Inicializace();
        }
    }
}
